* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}

window#waybar {
  background-color: black;
  color: white;
}

#clock {
  color: #FFECFF;
}

/*#custom-amixer {
  color: #B3DEFF;
}*/

#network {
  color: #E4ECFF;
}

#battery {
  color: #FFECFF;
}

#memory {
  color: #B3DEFF;
}
#cpu {
  color: #89B4FA;
}

#temperature {
  color: #E4ECFF;
}

#keyboard-state {
  color: #FFECFF;
}
#language {
  color: #F5C2E7;
}

#submap {
  color: #BEFFFF;
}

#custom-separator {
  color: #82859A;
}
